{% extends 'main/messages.html' %}
{% load static %}

{% block content_messages %}
<form class="post-form">
    {% csrf_token %}

    <table class="table" style="border-bottom:0px solid white;">
        <tbody id='chat-body'>
        {% for message in messages %}
         {% if message.sender == username %}
                            <tr>
                                <td style="float: right;">
                                    <p class="bg-success p-2 mt-2 mr-5 shadow-sm text-white float-right rounded">
                                        {{message.message}}
                                    </p>
                                </td>
                                <td>
                                    <p><small class="p-1 shadow-sm">{{message.timestamp|date:'d M Y,'}}{{message.timestamp|time:'H:i'}}</small>
                                    </p>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td style="float: left;">
                                    <p class="bg-primary p-2 mt-2 mr-5 shadow-sm text-white float-left rounded">
                                        {{message.message}}
                                    </p>
                                </td>
                                <td style="float: left;">
                                    <p><small class="p-1 shadow-sm">{{message.timestamp|date:'d M Y,'}}{{message.timestamp|time:'H:i'}}</small>
                                    </p>
                                </td>
                            </tr>
                            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    </br>
    <div class="input-group mb-3">
      <input id="message_input" type="text" class="form-control" name="message">
    </div>

    <input id="chat-message-submit" type="button" value="Send" class="btn btn-success">
    <input hidden id="id_user_sender" value="{{ id_user_sender }}" />
</form>

{{id_user|json_script:"json-username"}}
{{username|json_script:"json-message-username"}}

{% endblock %}

{% block javascript %}
<script src="{% static 'js/messages.js' %}"></script>
{% endblock %}
